/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
header {
  width: 100%;
  background-color: #EC715F;
  height: 70px;
  text-align: center;
}

.logo {
  height: 50px;
  max-width: 100%;
}

.navbar-nav {
  margin-left: auto;
}

.nav-item a {
  list-style: none;
  display: inline-block;
  color: #FAFAFA;
  font-size: 16px;
  padding: 0 30px;
  position: relative;
}




.mv {
  color: #FAFAFA;
  text-align: center;
  height: 650px;
  background-image: url('mv.png');
  background-position: center; /* 画像を中央に配置する */
}

.mv-title {
  font-size: 64px;
  padding-top: 200px;
}

.mv-subtitle {
  font-size: 20px;
  padding-top: 10px;
}




.portfolio, .profile {
  background-position: center;
  background-color: #ECEFF1;
}

.portfolio, .feature, .profile, .contact {
  text-align: center;
  padding: 90px 0;
}

.title {
  color: #000000;
  font-size: 32px;
  text-align: center;
  padding-bottom: 8px;
}

.border {
  background-color: #EC715F;
  width: 70px;
  height: 3px;
  display: inline-block;
}

.text {
  text-align: center;
  padding: 30px 0;
  font-size: 16px;
  color: #000000;
}

.images {
  width: 920px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
}

.images > div {
  width: 300px;
  height: 250px;
  background-size: cover;
  background-position: center;
}

.image1 {
  background-image: url('sketch.jpg');
  margin: 0 10px 10px 0;
}

.image2 {
  background-image: url('websuku.png');
  margin: 0 10px 10px 0;
}

.image3 {
  background-image: url('write.jpg');
  margin-bottom: 10px;
}

.image4 {
  background-image: url('webcamp.png');
}

.image5 {
  background-image: url('talk.jpg');
}

.image6 {
  background-image: url('webcamp-mother.png');
}



.feature {
  width: 980px;
  margin: 0 auto;
}

.strength-group {
  display: flex;
  width: 980px;
}

.strength1 ,.strength2 ,.strength3 {
  width: 320px;
  height: auto;
}

.strength2 {
  margin: 0 10px;
}

.fa-solid {
  text-align: center;
  font-size: 60px;
}

.strength-title {
  text-align: center;
  padding: 10px 0;
  size: 20px;
  color: #000000;
}

.strength-text, .profile-text {
  font-size: 16px;
  color: #000000;
  text-align: left;
}


.profile {
  margin: 0 auto;
}

.profile-image {
  width: 250px;
  height: 250px;
  border-radius: 250px;
}

.profile-title {
  font-size: 20px;
  text-align: left;
  margin-bottom: 5px;
}

.profile .col-6 {
  width: 512px;
}

.contact-title {
  font-size: 20px;
  text-align: left;
}

.contact-text {
  text-align: left;
  padding: 5px 0 20px 0;
}

.sns-group i {
  text-align: left;
  font-size: 50px;
  padding: 5px 20px;
}

.contact .col-6 {
  margin: 0 auto;
  width: 400px;
  text-align: center;
}

fotter {
  height: 60px;
  width: 100%;
  background-color: #EC715F;
  text-align: center;
}

.fotter-text {
  font-size: 16px;
  color: #FAFAFA;
}
