/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.navbar {
  background-color: #EC715F;
  max-height: 70px;
}

.img-fluid {
  max-height: 70px;
  max-width: 100%;
}

.nav-item a {
  color: #FAFAFA;
  font-size: 16px;
  padding: 0 30px;
}



.mv {
  color: #FAFAFA;
  text-align: center;
  height: 650px;
  background-image: url('mv.png');
  background-position: center; /* 画像を中央に配置する */
}

.mv-title{
  font-size: 64px;
  padding-top: 200px;
}

.mv-subtitle{
  font-size: 20px;
  padding-top: 10px;
}



.portfolio {
  background-position: center; /* 画像を中央に配置する */
  background-color: #ECEFF1;
  text-align: center;
  
}

.pf-title{
  color: #000000;
  font-size: 32px;
  text-align: center;
  padding-top: 90px;
  padding-bottom: 8px;
}

.pf-text {
  font-size: 16px;
  color: #000000;
  padding-top: 30px;
  padding-bottom: 30px;
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.images > div {
  width: 300px;
  height: 250px;
  background-size: cover;
  background-position: center;
}

.image1 {
  background-image: url('sketch.jpg');
}

.image2 {
  background-image: url('websuku.png');
}

.image3 {
  background-image: url('write.jpg');
}

.image4 {
  background-image: url('webcamp.png');
}

.image5 {
  background-image: url('talk.jpg');
}

.image6 {
  background-image: url('webcamp-mother.png');
}